<main class="">
  <section class="mt-6">
    <app-carousel></app-carousel>
  </section>

  <section class="flex justify-evenly mt-24">
    <ng-container *ngFor="let item of products">
      <div class="border rounded-md w-[300px] h-[500px]">

        <ng-container *ngFor="let imagem of item.imagens">
          <div *ngIf="imagem.isCover === true">
            <img [src]="imagem.imagePath" alt="Imagem do produto" class=" rounded-t-md"/>
          </div>
        </ng-container>

        <div class="flex justify-center flex-col items-center font-medium mt-4">
          <h2>{{ item.name }}</h2>

          <p class="text-xl mt-3">R${{ item.price }}</p>

          <hr class="m-1 mx-auto">

          <p>a</p>
        </div>
        <!-- <ng-container *ngFor="let size of item.sizes">
          <p>Tamanhos:</p> <span>{{ size }} + Centímetros</span>
        </ng-container> -->
      </div>
    </ng-container>
  </section>
</main>
