<main>
  <section class="mt-3">
    <app-carousel></app-carousel>
  </section>

  <section class="container m-auto">
    <article class="mt-20 mb-20">
      <p class="text-center text-xl font-bold font uppercase">
        Novidades
      </p>
      <p class="mb-10 text-center">Confira os novos produtos!</p>

      <ngx-slick-carousel class="flex flex-wrap justify-evenly" #slickModal="slick-carousel" [config]="slideConfig">

        <div ngxSlickItem *ngFor="let item of getNovidades()">
          <app-product-card [product]="item"></app-product-card>
        </div>

      </ngx-slick-carousel>

      <!-- <div class="flex flex-wrap justify-evenly">
        <ng-container *ngFor="let item of getNovidades()">
          <app-product-card [product]="item"></app-product-card>
        </ng-container>
      </div> -->

    </article>
  </section>

  <!-- <section>
    <app-product-card [products]="products"></app-product-card>
  </section> -->
</main>