.bg-color {
  background-color: #161616;
}

.in-animation {
  transition: all 0.3s ease-in-out;
}

.out-animation {
  transition: all 0.3s ease-out;
}

.in-frete {
  transition: all 0.1s ease-in-out;
}

.out-frete {
  transition: all 0.1s ease-out;
}

.menuContainer {
  border-radius: 0 0 2.5px 2.5px;
  transform: translateY(15px);
  padding: 10px 40px 20px 20px;
  background-color: white;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px -2px, rgba(0, 0, 0, 0.055) 0px 3px 3px -2px;
  text-transform: none;
}

#menuCorrentes, #menuEscapularios {
  opacity: 0;
  position: absolute;
  visibility: hidden;
  z-index: 1;
  transition: all 0.3s ease-out;
}

#correntes:hover {
  #menuCorrentes {
    transition: all 0.3s ease-in-out;
    opacity: 1;
    visibility: visible;
  }
}

#escapularios:hover {
  #menuEscapularios {
    transition: all 0.3s ease-in-out;
    opacity: 1;
    visibility: visible;
  }
}
